
<div class = "center" id = "centerText" id ="text">
    <!-- ID: <input [(ngModel)] ="fund.id" id ="inputText" type = "text" value = "" placeholder="e.g. (John Smith)"/> -->
    Symbol: <input [(ngModel)] ="fund.symbol" id ="inputText" type = "text" value = "" placeholder="e.g. (PHYS)"/>
    Name: <input [(ngModel)] ="fund.name" id ="inputText" type = "text" value = "" placeholder="e.g. (Sprott Physical Gold Trust CEF)"/>
    Inception Date: <input [(ngModel)] ="fund.inceptionDate" id ="inputText" type = "text" value = "" placeholder="e.g. (2010-02-26)"/>
    Category One: <input [(ngModel)] ="fund.categoryOne" id ="inputText" type = "text" value = "" placeholder="e.g. (Commodities)"/>
    Category Two: <input [(ngModel)] ="fund.categoryTwo" id ="inputText" type = "text" value = "" placeholder="e.g. (Broad Market)"/>
    Category Three: <input [(ngModel)] ="fund.categoryThree" id ="inputText" type = "text" value = "" placeholder="e.g. (Actively Managed)"/>
    Market Cap: <input [(ngModel)] ="fund.marketCap" id ="inputText" type = "text" value = "" placeholder="e.g. (4,852,252,666 $)"/>
    Current Dividend Yield: <input [(ngModel)] ="fund.currentDividendYield" id ="inputText" type = "text" value = "" placeholder="e.g. (0%)"/>
    Historical Average Dividend Yield: <input [(ngModel)] ="fund.historicalAverageDividendYield" id ="inputText" type = "text" value = "" placeholder="e.g. (0%)"/>
    Leverage Factor: <input [(ngModel)] ="fund.everageFactor" id ="inputText" type = "number" value = "" placeholder="e.g. (1.0)"/>
    Average Volume: <input [(ngModel)] ="fund.averageVolume" id ="inputText" type = "text" value = "" placeholder="e.g. (1,254,234)"/>
    Action: <input [(ngModel)] ="fund.action" id ="inputText" type = "text" value = "" placeholder="e.g. (Analyze)"/>
    
    
</div>

<div id="button_div">
<button (click) = "update()" id = "wrapper" class="shadow" value="Shadow"id = "wrapper" class="shadow" value="Shadow">update loan</button> 
</div>