
<div class = "center" id = "centerText">

    <p id ="text"> Symbol:<p> {{fund.symbol}}
    <p id ="text"> Name:<p> {{fund.name}}
    <p id ="text"> Inception Date:<p>{{fund.inceptionDate}}
    <p id ="text"> Category One:<p>{{fund.categoryOne}}
    <p id ="text"> Category Two:<p>{{fund.categoryTwo}}
    <p id ="text"> Category Three:<p>{{fund.categoryThree}}
    <p id ="text"> Market Cap:<p>{{fund.marketCap}}
    <p id ="text"> Current Divdend Yield:<p>{{fund.currentDividendYield}}
    <p id ="text"> Historical Average Divided Yield:<p>{{fund.historicalAverageDividendYield}}
    <p id ="text"> Everage Factor:<p>{{fund.everageFactor}}
    <p id ="text"> Average Volume:<p>{{fund.averageVolume}}
    <p id ="text"> Action:<p>{{fund.action}}
<br>
<div id="button_div">
<button (click) = "edit()" id = "wrapper" class="shadow" value="Shadow">edit loan</button>
</div>