<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app.component.scss">
  

</head>
<title>Racaku Mutuals</title>
<div style="float:right;" class="topnav">
<a routerLink="/users/create">Create Account</a> 
<a routerLink="/users/login">Login</a></div>
  <hr>
  <header> <h1 id="title">Investment Funds</h1>

    <h2 id= "sub-title" > Explore Racaku' Closed-end funds
    </h2>
    <div class="topnav">
        
        <a class="active" href="/home">Home</a>
        <a routerLink="/funds">Closed-End Funds</a>
        <a routerLink="/purchases">Purchases</a>
        <a routerLink="/users">Users</a> 
        
      </div>
      <!-- <div class="topnav">
        <a routerLink="/users/create">Create Account/Login</a> 
        
      </div> -->
    </header>
    <hr>

    
<body>
  
  <router-outlet></router-outlet>
  
</body>

</html>
<!-- Site footer -->
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Racaku<span>Mutual</span></h3>

    <p class="footer-links">
      <a routerLink="/home" class="link-1">Home</a>

      <a routerLink="/bonds">Bonds</a>

      <a routerLink="/etfs">ETF's</a>

      <a routerLink="/mutual_funds">Mutual Funds</a>

      <a routerLink="/stocks">Stocks</a>

      <a routerLink="/funds">Closed End Funds</a>

      <a routerLink="/locations">Locations</a>
    </p>

    <p class="footer-company-name">Racaku Mutual © 2022</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Online</span> Philadelphia, PA</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1.123.456.7890</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:franceskoracaku@hotmail.com">franceskoracaku@hotmail.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">
      <a href=""><i class="fa fa-facebook"></i></a>
      <a href=""><i class="fa fa-twitter"></i></a>
      <a href=""><i class="fa fa-reddit"></i></a>
      <a href=""><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
