<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app.component.scss">
  

</head>
<title>Kite Mutuals</title>
<div style="float:right;" class="topnav">
<a routerLink="/users/create">Create Account</a> 
<a routerLink="/users/login">Login</a></div>
  <hr>
  <header> <h1 id="title">Investment Funds</h1>

    <h2 id= "sub-title" > Explore Kite Mutuals' funds, bonds, iShares ETFs and closed-end funds
    </h2>
    <div class="topnav">
        
        <a class="active" href="/home">Home</a>
        <a routerLink="/funds">Closed-End Funds</a>
        <a routerLink="/purchases">Purchases</a>
        <a routerLink="/users">Users</a> 
        
      </div>
      <!-- <div class="topnav">
        <a routerLink="/users/create">Create Account/Login</a> 
        
      </div> -->
    </header>
    <hr>

    
<body>
  
  <router-outlet></router-outlet>
  
</body>

</html>
