<body>
    


    <!-- bonds -->
    <title> Profile </title>
    <hr>
    <div class="main-bond">
        <!-- main bond -->


                <div class="bond-info-left">
                    <h3> User Info </h3>
                    <hr>
                    <p> Id - {{user.id}}</p>
                    <hr>
                    <p> Username - {{user.userName}}</p>
                    <hr>
                    <p> Email - {{user.userEmail }}</p>
                    <hr>
                    <p> Age - {{user.userAge}} </p>

                    <button mat-raised-button class="invest-btn" (click) = "edit()">
                     Edit Info
                     </button>
                     <button mat-raised-button class="back-btn" routerLink="/users">
                         Go Back
                     </button>
            </div>

            
            <div class ="purchases-list">
                <h3> Purchase List </h3>
            </div>

            
    </div>

    <div class="grid-container" id="gridContainer">
        
        <div *ngFor="let purchase of purchases">
    
            

            <a *ngIf ="(user.id == purchase.userId)" [routerLink]="['/purchases', purchase.id]"> ID- {{purchase.id}} <br> Amount- {{purchase.amount}}
                <br>Fund ID- {{purchase.fundId}}
            </a>


        </div>


    </div>
    </body>
