
<body>
    


    <div class ="fundsedit">
    <div class = "center" id = "centerText" id ="text">
        <label>Name: </label>
        <input [(ngModel)] ="user.userName" id ="inputText" type = "text" value = "" placeholder="e.g. (James Brown)"/>
         <label>Email: </label>
        <input [(ngModel)] ="user.userEmail" id ="inputText" type = "text" value = "" placeholder="e.g. (jamesbrown23@gmail.com)"/>
        <label>Age: </label>
         <input [(ngModel)] ="user.userAge" id ="inputText" type = "number" value = "" placeholder="e.g. (24)"/>

        
        <div id="button_div">
    <button (click) = "update()" id = "wrapper" class="shadow" value="Shadow"id = "wrapper" class="shadow" value="Shadow">Update User</button> 
    <button id = "wrapper" class="shadow" value="Shadow"id = "wrapper" class="shadow" value="Shadow" [routerLink]="['/users/', user.id]">Go Back</button>
    </div>
    </div>
    
    </div></body>